.ck-content {
  min-height: 160px;
}

.index-headline {
  padding: 15px 0;
}

h1 {
  font-size: 2rem;
}

.publish-container {
  .ck-content {
    min-height: 400px;
  }
}

.mt15 {
  margin-top: 1.5rem;
}
